.header {
  padding: 30px 0;

  border-bottom: 1px solid $header-border;
}

.header.index {
  border-style: none;
}

.header .container,
.navigation,
.navigation-list,
.header-address__list {
  align-items: center;
}

.header__logo {
  animation-duration: 1500ms;

  margin-right: 93px;
}

@import "../components/navigation-list";
@import "../components/header-address";
