.header-address {
  margin-left: auto;
}

.header-address__link {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  color: var(--header-address-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon,
.phone-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

.header-address__link:not(last-child) {
  margin-right: 50px;
}
